<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <form action="/uploader" method="POST" enctype="multipart/form-data" >
        <img src="https://www.google.com/imgres?q=image&imgurl=https%3A%2F%2Fbuffer.com%2Flibrary%2Fcontent%2Fimages%2Fsize%2Fw1200%2F2023%2F10%2Ffree-images.jpg&imgrefurl=https%3A%2F%2Fbuffer.com%2Flibrary%2Ffree-images%2F&docid=U9G_8UXPMlqatM&tbnid=ivTDs79HInLVcM&vet=12ahUKEwiwsNnkqLCHAxUjR2wGHYFuBPQQM3oECFIQAA..i&w=1200&h=800&hcb=2&itg=1&ved=2ahUKEwiwsNnkqLCHAxUjR2wGHYFuBPQQM3oECFIQAA" alt="img">
    </form>
</body>
</html>